.hero-container {
  min-height: 700px;
  position: relative;
  display: flex;
  align-items: center;
}
.hero-title {
  margin: 0 auto;
  font-size: 3.5rem;
  max-width: 50%;
  line-height: 120%;
  position: relative;
  color: var(--text-color);
}
.hero-button {
  color: var(--accent-color);
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(120%);
  font-size: 1.5rem;
  border-radius: 2em;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  padding: 0.5em 4em;
}
.hero-button:hover {
  color: black;
  background-color: var(--secondary-accent-color);
}
.earth-canvas-container {
  width: 800px;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 20px;
  right: 50px;
  overflow: hidden;
}
