.navbar {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0;
}
.navbar-buttons {
  flex-shrink: 1;
  text-decoration: none;
  font-size: 1.2rem;
  border: none;
  padding: 10px;
  margin: 0;
  background: none;
  color: white;
  transition: 0.5s background-color ease-in, 0.5s color ease-in;
}
.navbar-buttons:hover {
  background-color: var(--secondary-accent-color);
  color: black;
}

.navbar-container {
  background-color: black;
}
