.timeline-container {
  min-height: 750px;
  position: relative;
}
.moon-canvas-container {
  height: 500px;
  min-width: 500px;
  margin-top: 50px;
}
.content {
  width: 50%;
}
.timeline-content {
  border: 2px solid var(--accent-color);
  border-radius: 20px;
  padding: 70px;
  margin: 0 auto;
  max-width: 80%;
  height: 100%;
}

@media (min-width: 750px) {
  .info {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    gap: 100px;
  }
}
