*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
section,
article {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */
:root {
  --background-color: black;
  --accent-color: #7c77b9;
  --text-color: white;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
}
.container {
  width: 90%;
  margin: 0 auto;
}
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
